@using Booking.Web.Localization;

@model Booking.Web.ViewModels.Profile.UserInfoViewModel

<div style="background-color: white">

    <div id="delete" style="width: 100%; height: 30px; ">
        @using (Html.BeginForm("Delete", "Manage", new { userId = Model.Id }))
            {
            @Html.AntiForgeryToken()
            <input type="submit" id="delete" value=@Localization.Delete class="profile-submit" style="float: right" />
        }
    </div>
    @using (Html.BeginForm("EditUser", "Manage",Model,FormMethod.Post, new { style = "width:50%; display: inline-block; float:left" }))
    {
        <div style="padding: 50px 0px ">
            
            @Html.AntiForgeryToken()
            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "validation-error" })
            @Html.TextBoxFor(m => m.Name, new { @class = "profile-input-edit", @id = "name", })

            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "validation-error" })
            @Html.TextBoxFor(m => m.Email, new { @class = "profile-input-edit", @id = "email", })
            @if (Model.IsEditorAdmin)
            {
                <div class="red-toggle" style="display: block; padding-top: 20px">
                    <input type="checkbox" class="red-toggle-input" id="new-event-popup-is-public" name="NewRole" value="Admin" @(Model.IsProfileAdmin ? "checked" : "") />
                    <label for="new-event-popup-is-public">
                        <span class="red-toggle-container"><span class="red-toggle-circle"></span></span>
                    </label>
                    <input name="NewRole" type="hidden" value="User" />
                    <span class="red-toggle-not-checked">@Localization.Admin</span>
                </div>               
            }
            <div style="width: 65%; padding-top: 15px">
                <input type="submit" id="save" value=@Localization.Save class="profile-submit" />
            </div>
        </div>
    }
</div>