@using Booking.Web.Localization;

@model Booking.Web.ViewModels.Profile.ProfileViewModel


<div id="page-main" class="page-container">

    <div id="Log_off" style="width: 100%; height: 30px">
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post))
            {
            @Html.AntiForgeryToken()
            <input type="submit" id="exit" value=@Localization.Logout class="profile-submit" style="float: right" />
        }
    </div>
    <div style="width:50%; float:left">
        <H3 style="padding: 20px 0px">
            @Model.UserInfo.Name @if (Model.UserInfo.IsProfileAdmin)
            {<sup class="admin-sup">admin</sup>}
        </H3>
        <p><b>Email:</b>@Model.UserInfo.Email</p>
        <p><b>@Localization.NumberOfActiveEvent:</b> @Model.UserInfo.ActiveEventsCount</p>
        @using (Ajax.BeginForm("Edit", "Profile", new { userid = Model.UserInfo.Id }, new AjaxOptions
                {
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "Post",
                    UpdateTargetId = "profile-partial"
                }))
        {
                    @Html.AntiForgeryToken()
                    <div style="width: 65%; padding-top: 15px">
        
                        <input type="submit" id="change" value=@Localization.Change class="profile-submit" />
            </div>
        }
    </div>
</div>
