@using Booking.Models
@using Booking.Repositories.Repositories
@using Booking.Services.Services
@using Booking.Web.Localization;
@using Booking.Web.ViewModels.Manage;
@using Microsoft.AspNet.Identity
@model Booking.Web.ViewModels.Profile.ProfileViewModel
    

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ActiveLink = "Profile";
}
@section styles{
   @Styles.Render("~/Content/Site.css")
    @Styles.Render("~/Content/Profile-inputs.css")
    @Styles.Render("~/Content/font-awesome/css/font-awesome.css")
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/project/contact-scripts.js")
}


<div style="background-color: white">
    <div class="page-container">
        
        <div style="width: 100%; height: 30px">
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <input type="submit" id="exit" value=@Localization.Logout class="profile-submit" style="float: right" />
            }
        </div>


        <div style="width: 100%">
            <div style="width: 50%; height: 200px; top: -200px; display: inline-block; vertical-align: top; float:left">
                @Html.Partial("_UserInfoPartial")
            </div>
            <div style="width: 49%;  display: inline-block; background-color: #EBEEF7; float: right;vertical-align: top">
                <div style="width: 60%; margin: 0px auto">
                    @Html.Partial("_ResetPasswordPartial")
                </div>
            </div>
        </div>
    </div>
</div>

