@using Booking.Models
@using Booking.Repositories.Repositories
@using Booking.Services.Services
@using Booking.Web.Localization;
@using Booking.Web.ViewModels.Manage;
@using Microsoft.AspNet.Identity
@model Booking.Web.ViewModels.Profile.ProfileViewModel
    

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ActiveLink = "Profile";
}
@section styles{
   @Styles.Render("~/Content/Site.css")
    @Styles.Render("~/Content/Profile-inputs.css")
    @Styles.Render("~/Content/font-awesome/css/font-awesome.css")
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/project/contact-scripts.js")
}


<div style="background-color: white">
    <div class="page-container">
        
        <div style="width: 100%; ">
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <input type="submit" id="exit" value=@Localization.Logout class="profile-submit" style="float: right" />
            }
        </div>

        

        <div style="width: 100%">
            <div style="width: 50%; height: 200px; top: -200px; display: inline-block">
                <div Style="width: 60%">
                    <H3>
                        @User.Identity.Name @if (@User.IsInRole("Admin"))
                        {
                            <sup style="background-color: #F95752; color: white; border-radius: 10px; margin: 2px; padding: 2px 5px">admin</sup>
                        }
                    </H3>
                    <p>
                        <b>Email:</b>@Html.Action("GetUserEmail", "Account", new {userId = Model.IsAdmin})
                    </p>
                    <p>
                        <b>@Localization.NumberOfActiveEvent:</b>@Html.Action(new UsersService().GetEvenByAuthor(@User.Identity.GetUserId()).ToString())
                    </p>

                    @using (Html.BeginForm("Edit", "Profile", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <input type="submit" id="change" value=@Localization.Change class="profile-submit" />
                    }
                </div>

                

            </div>
            <div style="width: 48%;  display: inline-block; background-color: #EBEEF7; float: right;">
                <div style="width: 60%; margin: 0px auto">
                    @Html.Partial("_ResetPasswordPartial", Model.ChangePasswordForm)
                </div>
            </div>

        </div>
       
    </div>
</div>

