@using Booking.Models
@using Booking.Repositories.Repositories
@using Booking.Services.Services
@using Booking.Web.Localization;
@using Booking.Web.ViewModels.Manage;
@using Booking.Web.ViewModels.Profile
@using Microsoft.AspNet.Identity
@model Booking.Web.ViewModels.Profile.ProfileViewModel
  

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Model.IsOwner) { ViewBag.ActiveLink = "Profile"; }
}
@section styles{
   @Styles.Render("~/Content/Site.css")
    @Styles.Render("~/Content/Profile-inputs.css")
    @Styles.Render("~/Content/font-awesome/css/font-awesome.css")
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<div  style="background-color: white; min-height: calc(100vh - 50px);">
    <div id="page-wrapper" class="page-container">
        <div id="profile-partial">
            @Html.Partial("_InfoProfilePartialView", Model)
        </div>

        <div style="width:50%; float:right" class="password-place">
            <div id="passwordReplace" style="width: 60%; margin: 0px auto">
               @Html.Partial("_ResetPasswordPartial",Model)
            </div>
        </div>
    </div>
</div>
