@model Booking.Web.ViewModels.Home.HomeViewModel

@{
    ViewBag.Title = "Home Page";
    ViewBag.ActiveLink = "Index";
}

@section styles{
    @Styles.Render("~/Content/room-styles.css")
    @Styles.Render("~/Content/home-page.css")
    @Styles.Render("~/Content/Site.css")
    @Styles.Render("http://fonts.googleapis.com/css?family=Nunito:400,300,700")
    @Styles.Render("~/Content/schedule.css")
    @Styles.Render("~/Content/bootstrap-datepicker.css")
    @Styles.Render("~/Content/datepicker.css")
    @Styles.Render("~/Content/audience-info.css")
}

@section scripts
{
    @Scripts.Render("//code.jquery.com/ui/1.12.1/jquery-ui.js")
    @Scripts.Render("~/Scripts/jquery.mapit.js")
    @Scripts.Render("~/Scripts/initializers.js")
    @Scripts.Render("~/Scripts/bootstrap-datepicker/js/bootstrap-datepicker.js")
    @Scripts.Render("~/Scripts/bootstrap-datepicker/locales/bootstrap-datepicker.ru.min.js")
    @Scripts.Render("~/Scripts/project/schedule.js")
    @Scripts.Render("~/Scripts/project/room-map.js")
}

<input type="hidden" id="get-audience-info-url" value="@Url.Action("GetAudienceInfo", "Audience")"/>

@Html.Partial("_RoomMapPartial", Model.Audiences)

<div id="schedule-container" style="background: white">
    <div class="page-container container">
        @Html.Partial("_HorizontalSchedulePartial", Model.ScheduleTable)
    </div>
</div>
<div id="map_canvas"></div>