@using Booking.Web.Localization
@using Booking.Web.ViewModels.Account
@model LoginViewModel

@{
    ViewBag.Title = @Localization.Login;
    ViewBag.ActiveLink = "Login";
}

@using (Html.BeginForm("Login", "Account", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
{
    @Html.AntiForgeryToken()

    <div class="validation-summary-error">
        @if (ViewData["InvalidLoginAttempt"] != null)
        {
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
            <span>@ViewData["InvalidLoginAttempt"]</span>
        }
    </div>

    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "validation-error" })
    @Html.TextBoxFor(m => m.Email, new {@class = "login-input", placeholder = Localization.EmailAddressPlaceholder})

    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "validation-error" })
    @Html.PasswordFor(m => m.Password, new {@class = "login-input", placeholder = Localization.PasswordPlaceholder})

    <div style="width: 100%;">
        <input type="submit" disabled="disabled" value=@Localization.LoginSubmit class="login-submit"/>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/project/login-scripts.js")
}