@using Booking.Web.Localization
@model Booking.Web.ViewModels.Account.RegisterViewModel
@{
    ViewBag.Title = @Localization.Register;
    ViewBag.ActiveLink = "Register";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <br/>
   
    @Html.ValidationSummary(true,"", new { @class = "ValidationSummaryError" })

    <div class="col-md-10" style="font-size: 10px !important;">
        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "ValidationError" })
        @Html.TextBoxFor(m => m.UserName, new { @class = "loginInput", placeholder = Localization.UserNamePlaceholder })
    </div>

    <div class="col-md-10" style="font-size: 10px !important;">
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "ValidationError" })
        @Html.TextBoxFor(m => m.Email, new { @class = "loginInput", placeholder = Localization.EmailAddressPlaceholder })
    </div>

    <div class="col-md-10" style="font-size: 10px !important;">
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "ValidationError" })
        @Html.PasswordFor(m => m.Password, new { @class = "loginInput", placeholder = Localization.PasswordPlaceholder })
    </div>

    <div class="col-md-10" style="font-size: 10px !important;">
        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "ValidationError" })
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "loginInput", placeholder = Localization.ConfirmPasswordPlaceholder })
    </div>

        <div class="col-md-10">
            <input type="submit" disabled="disabled" class="loginSubmit" value=@Localization.RegisterSubmit />
        </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
