@using Booking.Web.Localization
@model Booking.Web.ViewModels.Account.RegisterViewModel
@{
    ViewBag.Title = @Localization.Register;
    ViewBag.ActiveLink = "Register";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
{
    @Html.AntiForgeryToken()
    <div class="validation-summary-error">
        @if (ViewData["UserExistsError"] != null)
        {
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
            <span>@ViewData["UserExistsError"]</span>
        }
    </div>

    @Html.ValidationMessageFor(m => m.UserName, "", new {@class = "validation-error"})
    @Html.TextBoxFor(m => m.UserName, new {@class = "login-input", placeholder = Localization.UserNamePlaceholder})

    @Html.ValidationMessageFor(m => m.Email, "", new {@class = "validation-error"})
    @Html.TextBoxFor(m => m.Email, new {@class = "login-input", placeholder = Localization.EmailAddressPlaceholder})

    @Html.ValidationMessageFor(m => m.Password, "", new {@class = "validation-error"})
    @Html.PasswordFor(m => m.Password, new {@class = "login-input", placeholder = Localization.PasswordPlaceholder})

    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new {@class = "validation-error"})
    @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "login-input", placeholder = Localization.ConfirmPasswordPlaceholder})

    <div style="width: 100%;">
        <input type="submit" disabled="disabled" value=@Localization.RegisterSubmit class="login-submit"/>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/project/login-scripts.js")
}