@using Booking.Web.Localization
@model Booking.Web.Models.RegisterViewModel
@{
    ViewBag.Title = @Localization.Register;
    ViewBag.ActiveLink = "Register";
}

@*<h2>@ViewBag.Title.</h2>*@

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @*<h4>Create a new account.</h4>
    <hr />*@
    <br/>
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <div class="col-md-10">
            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
            @Html.TextBoxFor(m => m.UserName, new {@class = "loginInput", placeholder = "  Имя Фамилия"})
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            @Html.TextBoxFor(m => m.Email, new {@class = "loginInput", placeholder = "  Адрес электронной почты"})
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            @Html.PasswordFor(m => m.Password, new {@class = "loginInput", placeholder = "  Пароль"})
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "loginInput", placeholder = "  Повторить пароль"})
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" disabled class="loginSubmit" style="margin-left:37px !Important" value="Зарегистрироваться" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
