@model Booking.Web.ViewModels.AdminPanel.CreateAudienceViewModel

<div>
    @using (Html.BeginForm("CreateAudience", "AdminPanel", FormMethod.Post, new {enctype = "multipart/form-data", id = "new-audience-form"}))
    {
        @Html.AntiForgeryToken()
        @Html.TextBoxFor(m => m.Name)

        @Html.HiddenFor(m => m.AudienceMapId)

        @Html.HiddenFor(m => m.Left)
        @Html.HiddenFor(m => m.Top)
        @Html.HiddenFor(m => m.Width)
        @Html.HiddenFor(m => m.Height)

        @Html.EditorFor(m => m.SeatsCount)
        @Html.EditorFor(m => m.BoardsCount)
        @Html.EditorFor(m => m.LaptopsCount)
        @Html.EditorFor(m => m.PrintersCount)
        @Html.EditorFor(m => m.ProjectorsCount)

        @Html.LabelFor(x => x.RouteImage)
        @Html.TextBoxFor(x => x.RouteImage, new {type = "file"})
        @Html.ValidationMessageFor(x => x.RouteImage)

        @Html.LabelFor(x => x.LineDetailsImage)
        @Html.TextBoxFor(x => x.LineDetailsImage, new {type = "file"})
        @Html.ValidationMessageFor(x => x.LineDetailsImage)
        <button type="submit">Upload</button>
    }
</div>