@using Booking.Web.ViewModels.AdminPanel
@model AudienceMapViewModel

@section scripts{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("//code.jquery.com/ui/1.12.1/jquery-ui.js")
    @Scripts.Render("~/Scripts/project/admin_panel/audience_map.js")
}
@section styles {
    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">
    @Styles.Render("~/Content/admin_panel/audience_map.css")
}


<div id="map-container">
    @foreach (var audience in Model.Audiences)
    {
        <div style="background: gray; z-index: 3; position: absolute; left: @(audience.Left)px; top: @(audience.Top)px; width: @(audience.Width)px; height: @(audience.Height)px">
            @audience.Name
        </div>
    }

    <img id="map-image" src="@Model.ImageUrl"/>
</div>

<button id="new-audience-btn" class="btn btn-default">New audience</button>

@Html.Partial("_NewAudienceForm", new CreateAudienceViewModel {AudienceMapId = Model.Id})