@model Booking.Web.ViewModels.AdminPanel.NewAudienceMapViewModel

@using (Html.BeginForm("CreateAudienceMap", "AdminPanel", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    @Html.AntiForgeryToken()
    @Html.TextBoxFor(m => m.Name)

    @Html.LabelFor(x => x.Image)
    @Html.TextBoxFor(x => x.Image, new {type = "file"})
    @Html.ValidationMessageFor(x => x.Image)
    <button type="submit">Upload</button>
}