@model Booking.Web.ViewModels.AdminPanel.AdminPanelViewModel

<ul>
    @foreach (var pair in Model.AudienceMaps)
    {
        <li>
            <a href="@Url.Action("AudienceMap", "AdminPanel", new {id = pair.Key})">@pair.Value</a>

            @using (Html.BeginForm("DeleteAudienceMap", "AdminPanel", new {id = pair.Key}, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-danger">Delete</button>
            }

            @using (Html.BeginForm("SetActiveAudienceMap", "AdminPanel", new {id = pair.Key}, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <button type="submit" class="btn @(Model.ActiveMapId == pair.Key ? "btn-default" : "btn-primary")">Set active</button>
            }
        </li>
    }
</ul>

<a href="@Url.Action("CreateAudienceMapPage", "AdminPanel")">Create new audience map</a>