@using Booking.Web.Localization
@using Booking.Web.ViewModels.Contact
@model ContactViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Localization.Feedback;
    ViewBag.ActiveLink = "Contact";
}

@section styles{
    @Styles.Render("~/Content/home-page.css")
    @Styles.Render("~/Content/Site.css")
    @Styles.Render("~/Content/form-inputs.css")
    @Styles.Render("~/Content/font-awesome/css/font-awesome.css")
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/project/contact-scripts.js")
}

<div style="background-color: #ffffff; height: 100%;">
    @using (Html.BeginForm("Index", "Contact", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="page-container">
            <div style="width: 50%; height: 388px; display: inline-block">
                <h3>@Localization.WriteMessage</h3>
                <h5>@Localization.MessageIdea</h5>
                <img style="vertical-align: baseline" src="@Url.Content("~/Content/Images/contact-bg.png")"/>
            </div>
            <div style="width: 49%; display: inline-block">
                <div class="validation-summary-error">
                    @if (ViewData["UserMessage"] != null)
                    {
                        <span>@ViewData["UserMessage"]</span>
                    }
                </div>
                <div>
                    <div style="width: 50%; display: inline-block">
                        @Html.ValidationMessageFor(m => m.Name, "", new {@class = "validation-error"})
                        @Html.TextBoxFor(m => m.Name, new {@class = "login-input", placeholder = Localization.Name})
                    </div>
                    <div style="width: 49%; display: inline-block">
                        @Html.ValidationMessageFor(m => m.Surname, "", new {@class = "validation-error"})
                        @Html.TextBoxFor(m => m.Surname, new {@class = "login-input", placeholder = Localization.Surname})
                    </div>
                </div>

                @Html.ValidationMessageFor(m => m.Email, "", new {@class = "validation-error"})
                @Html.TextBoxFor(m => m.Email, new {@class = "login-input", placeholder = Localization.EmailAddressPlaceholder})

                @Html.ValidationMessageFor(m => m.Message, "", new {@class = "validation-error"})
                @Html.TextAreaFor(m => m.Message, new {@class = "input-large", placeholder = ""})

                <div style="width: 100%;">
                    <input type="submit" disabled="disabled" value=@Localization.Save class="login-submit"/>
                </div>

            </div>
        </div>
    }
</div>