@using Booking.Web.Localization
@model Booking.Web.ViewModels.Event.EventEditViewModel

<div class="page-container">
    <h2 style="text-align: center; margin-bottom: -60px; margin-top: 40px; z-index: 60">@Localization.ChooseAudience</h2>
    <div id="room-map-container">
        @foreach (var audience in Model.AudienceMap.Audiences)
        {
            <div style="@audience.Style"
                 class="room @(audience.IsBookingAvailable ? "room-available" : "room-not-available") @(audience.Id == Model.AudienceId ? "room-active" : "")"
                 id="audience-@audience.Id"
                 data-audience-id="@audience.Id">
                <div class="room-title">
                    @audience.Name
                </div>
            </div>
            if (audience.IsBookingAvailable)
            {
                <div class="room-proxy"
                     style="@audience.Style"
                     data-room-target="audience-@audience.Id">
                </div>
            }
        }

        <img src="@Model.AudienceMap.ImageUrl" class="map-background-image"/>
    </div>
</div>