@using Booking.Web.Localization
@using Booking.Web.ViewModels.Event
@model Booking.Web.ViewModels.Event.EventEditViewModel

@{
    ViewBag.Title = Model.Title;
}

@section styles{
    @Styles.Render("~/Content/room-styles.css")
    @Styles.Render("~/Content/home-page.css")
    @Styles.Render("~/Content/Site.css")
    @Styles.Render("http://fonts.googleapis.com/css?family=Nunito:400,300,700")
    @Styles.Render("~/Content/schedule.css")
    @Styles.Render("~/Content/event-page.css")
    @Styles.Render("~/Content/form-inputs.css")
}

@section scripts
{
    @Scripts.Render("//code.jquery.com/ui/1.12.1/jquery-ui.js")
    @Scripts.Render("~/Scripts/jquery.mapit.js")
    @Scripts.Render("~/Scripts/initializers.js")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/project/event-edit-page.js")
    @Scripts.Render("~/Scripts/project/room-map.js")
}


<input type="hidden" id="audience-is-free-url" value="@Url.Action("IsFree", "Audience")"/>
<input type="hidden" id="display-event-url" value="@Url.Action("Index", "Event")"/>

@foreach (var pair in Model.Audiences)
{
    var id = (int) pair.Key;
    <input type="hidden" id="audience-@id-name" value="@pair.Value.Name"/>
}

<div class="event-container">
    <div class="page-container container">
        @using (Html.BeginForm("Save", "Event"))
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-md-8">
                    <div id="event-info">
                        @Html.HiddenFor(m => m.Id, new {id = "event-id"})

                        @Html.ValidationMessageFor(m => m.Title, "", new {@class = "validation-error"})
                        @Html.TextBoxFor(m => m.Title, new {@class = "text-input", id = "event-title-edit"})
                        <br/>

                        <input type="checkbox" id="is-author-shown" name="IsAuthorShown"  value="true" @(Model.IsAuthorShown ? "checked" : "") />
                        <label for="is-author-shown"><span></span>@Localization.ShowAuthor</label>
                        <input name="IsAuthorShown" type="hidden" value="false" /> 

                        <span>@Localization.Or</span>
                        @Html.TextBoxFor(m => m.AuthorName, new {@class = "text-input", placeholder = Localization.ShowOrganizer})
                        <br/>
                        @Html.TextAreaFor(m => m.AdditionalInfo, new {@class = "text-area", placeholder = Localization.AdditionalInformation})
                        <br/>

                        <input type="checkbox" id="is-join-available" name="IsJoinAvailable" value=true @(Model.IsJoinAvailable ? "checked" : "") />
                        <label for="is-join-available"><span></span>@Localization.JoinAvailable</label>
                        <input name="IsJoinAvailable" type="hidden" value="false" /> 

                        @if (Model.IsJoinAvailable)
                        {
                            <span>@string.Format(Localization.EventPageParticipantsCount, Model.ParticipantsEmails.Count)</span>
                        }
                    </div>
                </div>
                <div class="col-md-4">
                    <div id="event-calendar">
                        @Html.HiddenFor(m => m.StartDateTime, new {id = "start-date"})
                        @Html.HiddenFor(m => m.EndDateTime, new {id = "end-date"})
                        <div id="event-date" class="event-date-container">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            <div class="datetime-updown-outer">
                                <div class="datetime-updown-control datetime-updown-day">
                                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                                    <span class="datetime-updown-label">18.</span>
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </div>
                                <div class="datetime-updown-control datetime-updown-month">
                                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                                    <span class="datetime-updown-label">09.</span>
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </div>
                                <div class="datetime-updown-control datetime-updown-year">
                                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                                    <span class="datetime-updown-label">16</span>
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </div>
                            </div>

                            <i class="fa fa-clock-o" aria-hidden="true"></i>

                            <div class="datetime-updown-outer">
                                <div class="datetime-updown-control datetime-updown-start-hour">
                                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                                    <span class="datetime-updown-label">18:</span>
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </div>
                                <div class="datetime-updown-control datetime-updown-start-minute">
                                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                                    <span class="datetime-updown-label">00</span>
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </div>
                            </div>
                            <span>-</span>
                            <div class="datetime-updown-outer">
                                <div class="datetime-updown-control datetime-updown-end-hour">
                                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                                    <span class="datetime-updown-label">18:</span>
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </div>
                                <div class="datetime-updown-control datetime-updown-end-minute">
                                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                                    <span class="datetime-updown-label">30</span>
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div class="icons-container">
                            <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                            <i class="fa fa-print" aria-hidden="true"></i>
                        </div>
                        <div id="edit-buttons-container">
                            <button id="btn-cancel" type="button">@Localization.Cancellation</button>
                            <input type="submit" id="btn-save-event" value="@Localization.Save">
                        </div>
                        <div class="audience-not-free-message">
                            <i class="fa fa-frown-o" aria-hidden="true"></i>
                            <div>@Localization.AudienceIsAlreadyBooked</div>
                        </div>
                    </div>
                </div>
            </div>
            @Html.HiddenFor(m => m.ChosenAudienceId, new {id = "chosen-audience-id"})
        }

        @if (Model.IsJoinAvailable && Model.ParticipantsEmails.Count > 0)
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="participants-container">
                        <span>@Localization.RegisteredParticipants</span>
                        <ul>
                            @foreach (var pair in Model.ParticipantsEmails)
                            {
                                <li class="participant-email-li col-md-4">
                                    <span>@pair.Value</span>
                                    <i class="fa fa-times" aria-hidden="true" data-form-id="#remove-participant-@pair.Key"></i>
                                    @using (Html.BeginForm("RemoveParticipant", "Event", new {participantId = pair.Key}, FormMethod.Post, new {@class = "remove-participant-form"}))
                                    {
                                        @Html.AntiForgeryToken()
                                        <input type="submit" value="submit" id="remove-participant-@pair.Key" class="remove-participant-submit"/>
                                    }
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@Html.Partial("_RoomMapChoicePartial", Model.Audiences)

<input type="hidden" id="redirect-to-home-url" value="@Url.Action("Index", "Home")"/>
<input type="hidden" id="redirect-to-audience-url" value="@Url.Action("Index", "Audience")"/>

<div class="buttons-container">
    <div class="page-container container">
        <div class="link-buttons">
            <div class="link-btn-container" id="redirect-audience-btn">
                <div class="btn-squares">
                    <div class="square"></div>
                    <div class="square"></div>
                    <div class="square"></div>
                    <div class="square square-red"></div>
                </div>
                <span>@Localization.AudienceSchedule <span id="audience-name"></span></span>
            </div>
            <div class="link-btn-container" id="redirect-home-btn">
                <div class="btn-squares">
                    <div class="square square-red"></div>
                    <div class="square square-red"></div>
                    <div class="square square-red"></div>
                    <div class="square square-red"></div>
                </div>
                <span>@Localization.AllAudiencesSchedule</span>
            </div>
        </div>
    </div>
</div>

<div id="map_canvas"></div>