@using Booking.Web.Localization
@using Booking.Web.ViewModels.Event
@model Booking.Web.ViewModels.Event.DisplayEventViewModel

@{
    ViewBag.Title = Model.Title;
}

@section styles{
    @Styles.Render("~/Content/room-styles.css")
    @Styles.Render("~/Content/home-page.css")
    @Styles.Render("~/Content/Site.css")
    @Styles.Render("http://fonts.googleapis.com/css?family=Nunito:400,300,700")
    @Styles.Render("~/Content/schedule.css")
    @Styles.Render("~/Content/event-page.css")
}

@section scripts
{
    @Scripts.Render("//code.jquery.com/ui/1.12.1/jquery-ui.js")
    @Scripts.Render("~/Scripts/jquery.mapit.js")
    @Scripts.Render("~/Scripts/initializers.js")
    @Scripts.Render("~/Scripts/project/event-page.js")
}


<input type="hidden" id="redirect-to-edit-event-url" value="@Url.Action("Edit", "Event", new {eventId = Model.Id})"/>

<div class="event-container">
    <div class="page-container container">
        <div class="row">
            <div class="col-md-8">
                <div id="event-info">
                    <div class="event-title">@Model.Title</div>
                    <br/>
                    @if (!string.IsNullOrEmpty(Model.AuthorName))
                    {
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span id="author-name">@Model.AuthorName</span>
                    }
                    <br/>
                    <p>@Model.AdditionalInfo</p>
                    <br/>
                    @if (Model.IsJoinAvailable)
                    {
                        @Html.Partial("_JoinEventPartial", new JoinEventViewModel {EventId = Model.Id, ParticipantsCount = Model.ParticipantsEmails.Count})
                    }
                </div>
            </div>
            <div class="col-md-4">
                <div id="event-calendar">
                    <div class="event-date-container">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        <span>@Model.StartTime.ToString("dd.MM.yyyy")</span>
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        <span>@Model.StartTime.ToString("HH:mm") - @Model.StartTime.AddMinutes(Model.Duration).ToString("HH:mm")</span>
                    </div>
                    <div class="icons-container">
                        <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        <i class="fa fa-print" aria-hidden="true"></i>
                    </div>
                    @if (Model.CanEdit)
                    {
                        <div id="edit-buttons-container">
                            <button id="btn-edit-event">@Localization.Edit</button>
                            <button>@Localization.Cancel</button>
                        </div>
                    }
                </div>
            </div>
        </div>
        @if (Model.IsJoinAvailable && Model.CanEdit && Model.ParticipantsEmails.Count > 0)
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="participants-container">
                        <span>@Localization.RegisteredParticipants</span>
                        <ul>
                            @foreach (var pair in Model.ParticipantsEmails)
                            {
                                <li class="participant-email-li col-md-4">
                                    <span>@pair.Value</span>
                                    <i class="fa fa-times" aria-hidden="true" data-form-id="#remove-participant-@pair.Key"></i>
                                    @using (Html.BeginForm("RemoveParticipant", "Event", new {participantId = pair.Key}, FormMethod.Post, new {@class = "remove-participant-form"}))
                                    {
                                        @Html.AntiForgeryToken()
                                        <input type="submit" value="submit" id="remove-participant-@pair.Key" class="remove-participant-submit"/>
                                    }
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>

</div>

@Html.Partial("_RoomMapRoutePartial", Model)

<input type="hidden" id="redirect-to-home-url" value="@Url.Action("Index", "Home")"/>
<input type="hidden" id="redirect-to-audience-url" value="@Url.Action("Index", "Audience", new {audienceId = Model.AudienceId})"/>

<div class="buttons-container">
    <div class="page-container container">
        <div class="link-buttons">
            <div class="link-btn-container" id="redirect-audience-btn">
                <div class="btn-squares">
                    <div class="square"></div>
                    <div class="square"></div>
                    <div class="square"></div>
                    <div class="square square-red"></div>
                </div>
                <span>@Localization.AudienceSchedule @Model.AudienceName</span>
            </div>
            <div class="link-btn-container" id="redirect-home-btn">
                <div class="btn-squares">
                    <div class="square square-red"></div>
                    <div class="square square-red"></div>
                    <div class="square square-red"></div>
                    <div class="square square-red"></div>
                </div>
                <span>@Localization.AllAudiencesSchedule</span>
            </div>
        </div>
    </div>
</div>

<div id="map_canvas"></div>