@using Booking.Web.Localization
@using Booking.Web.ViewModels.Event
@model Booking.Web.ViewModels.Event.DisplayEventViewModel

@{
    ViewBag.Title = Model.Title;
}

@section styles{
    @Styles.Render("~/Content/room-styles.css")
    @Styles.Render("~/Content/home-page.css")
    @Styles.Render("~/Content/Site.css")
    @Styles.Render("http://fonts.googleapis.com/css?family=Nunito:400,300,700")
    @Styles.Render("~/Content/schedule.css")
    @Styles.Render("~/Content/event-page.css")
}

@section scripts
{
    @Scripts.Render("//code.jquery.com/ui/1.12.1/jquery-ui.js")
    @Scripts.Render("~/Scripts/jquery.mapit.js")
    @Scripts.Render("~/Scripts/initializers.js")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/project/event-page.js")
}

<div class="event-container">
    <div class="page-container container">
        <h3>@Model.Title</h3>
        <i class="fa fa-user" aria-hidden="true"></i>
        <span id="author-name">@Model.AuthorName</span>
        <br/>
        <p>@Model.AdditionalInfo</p>
        <br/>
        @if (Model.IsJoinAvailable)
        {
            <span>@string.Format(Localization.EventPageParticipantsCount, Model.ParticipantsCount)</span>
            @Html.Partial("_JoinEventPartial", new JoinEventViewModel {EventId = Model.Id})
        }
    </div>
</div>

@Html.Partial("_RoomMapRoutePartial", Model)

<div id="map_canvas"></div>