@using Booking.Web.Localization
@using PagedList.Mvc

@model PagedList.IPagedList<Booking.Web.ViewModels.Users.UsersListItemViewModel>

@{
    ViewBag.ActiveLink = "Users";
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
        @Styles.Render("~/Content/Users.css")
        @Styles.Render("~/Content/PagedList.css")
        @Styles.Render("~Content/events-popups.css")
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("//code.jquery.com/ui/1.12.1/jquery-ui.js")
    @Scripts.Render("~/Scripts/project/event-page.js")
    @Scripts.Render("~/Scripts/project/cancel-event.js")
}






<div class="page-container container" style="min-height: calc(100vh - 50px);">
    <div>
        <h2 style="padding-top: 20px">@Localization.UserList</h2>
        <h4>@Localization.All: @Model.Count</h4>
    </div>
    <div style="width: 800px; display: inline-block ;">
        @using (Html.BeginForm("UserList", "Manage", new { page = 1 }))
        {
            <p class="profile-input" >
                @Html.TextBox("SearchString","", new { @class = "profile-input-edit" })
                <span class="icon"><i class="fa fa-search"></i></span>
            </p>
            
        }
    </div>
    <div style="width:800px">
        <div id="users">
            <table cellspacing="5" cellpadding="10">

                @foreach (var user in Model)

                {
                    <tbody>
                        <tr>
                            <td data-href="@Url.Action("Index", "Profile", new {userId = user.Id})" style="width: 275px;">
                                <div>
                                    @user.Name @if (user.IsAdmin)
                                    {<div class="admin">admin</div>}
                                </div>
                            </td>
                            <td data-href="@Url.Action("Index", "Profile", new {userId = user.Id})" style="width: 275px">
                                <p>@user.Email</p>
                            </td>
                            <td data-href="@Url.Action("Index", "Profile", new {userId = user.Id})" style="width: 125px;">
                                <p>
                                    <i class="fa fa-calendar-o" aria-hidden="true">&nbsp;</i>@user.ActiveEventsCount
                                </p>
                            </td>
                            <td data-href="@Url.Action("DeleteConfirm", "Manage", new { userId = user.Id })" style="width: 125px; text-align: center">
                                
                                <button class="cancel-event-btn" id="btn-show-delete-popup" data-eventId="user.Id" onclick="displayDeleteUserPopup()" data-toggle="modal" data-target=".example-modal-sm"><i class="fa fa-times" aria-hidden="true" style="font-size: large;"></i></button>
                            </td>
                        </tr>
                    </tbody>
                }
            </table>
            <div style="float:right">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
            </div>
        </div>

    </div>



</div>

<script>
    window.onload = function () {
        var table = document.getElementsByTagName('table')[0];

        table.onclick = function( e ) {
            var target = e.target,
                link;

            while ( target.tagName != 'TD' ) {
                target = target.parentNode;
                if (target.tagName == 'TABLE') return;
            }

            link = target.getAttribute('data-href');
            if (link) window.document.location = link;
        }
    }
</script>

