@using Booking.Web.Localization
@using PagedList.Mvc

@model PagedList.IPagedList<Booking.Web.ViewModels.Users.UsersListItemViewModel>

@{
    ViewBag.ActiveLink = "Users";
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="page-container container">
    <div style="width:75%">
    <h2 style="padding-top: 20px">@Localization.UserList</h2>
    <h4>@Localization.All: @Model.Count</h4>
        @Html.TextBoxFor(m => m.user, new { @class = "profile-input-edit", placeholder = @Localization.Search, @id = "search", })
        <div><i class="fa fa-search" aria-hidden="true"></i></div>
        <div id="users">
            <table cellspacing="5" cellpadding="10">

                @foreach (var user in Model)

            {
                    <tr>
                        <td>
                            <p> @user.Name   </p>
                        </td>
                        <td>
                            <p>@user.Email</p>
                        </td>
                        <td>
                            <p><i class="fa fa-calendar-o" aria-hidden="true"></i>@user.ActiveEventsCount </p>

                           
                    </td>
                        <td>
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </td>
                </tr>
                }
            </table>
            <div style="float:right">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
            </div>
        </div>

        </div>
       
    </div>

