@model Booking.Web.ViewModels.Audience.AudienceInfoViewModel

<div class="audience-info-container">
    <img src="@Url.Content("~/Content/Images/audience-info-icons/icon-table.png")"/>
    <img src="@Url.Content("~/Content/Images/audience-info-icons/icon-board.png")" />
    <img src="@Url.Content("~/Content/Images/audience-info-icons/icon-laptop.png")" />
    <img src="@Url.Content("~/Content/Images/audience-info-icons/icon-print.png")" />
    <img src="@Url.Content("~/Content/Images/audience-info-icons/icon-proect.png")" />
</div>
