@using Booking.Web.Localization
@using Booking.Web.ViewModels.Event
@model Booking.Web.ViewModels.Event.DisplayEventPopupViewModel

<div id="event-display-popup-@Model.Id" class="event-display-popup">
    <input type="hidden" id="event-page-url" value="@Url.Action("Index", "Event", new {eventId = Model.Id})"/>

    <div class="head">
        <div class="row-elements event-date">
            <span>@Model.EventDate</span>
            @if (Model.CanEdit)
            {
                <button class="btn-edit-event">@Localization.Edit</button>
                <button class="btn-cancel-event">@Localization.Cancel</button>
            }

            <button class="close-btn" id="close-popup-@Model.Id"></button>
        </div>
        <div class="row-elements" style="color: white">
            <span>@Model.EventDateTime.Hour</span>
            <span>:</span>
            @if (Model.EventDateTime.Minute == 0)
            {
                <span>@Model.EventDateTime.Minute.ToString()0</span>
            }
            else
            {
                <span>@Model.EventDateTime.Minute</span>
            }
            <span>-</span>
            <span>@Model.EventDateTime.AddMinutes(@Model.Duration).Hour</span>
            <span>:</span>
            @if (@Model.EventDateTime.AddMinutes(@Model.Duration).Minute == 0)
            {
                <span>@Model.EventDateTime.AddMinutes(@Model.Duration).Minute.ToString()0</span>
            }
            else
            {
                <span>@Model.EventDateTime.AddMinutes(@Model.Duration).Minute</span>
            }
        </div>
    </div>
    <h4 class="audience-name-show">@Model.AudienceName</h4>
    <div class="add-info">@Model.AdditionalInfo</div>
    <div class="row-elements" style="margin-bottom: 10px;">
        <i class="fa fa-user" aria-hidden="true"></i>
        <span class="author-name">@Model.AuthorName</span>
        <i class="fa fa-users" aria-hidden="true"></i>
        <span class="participants-count">@Model.ParticipantsEmails.Count</span>
    </div>
    @if (Model.IsJoinAvailable)
    {
        @Html.Partial("_JoinEventPartial", new JoinEventViewModel
        {
            EventId = Model.Id,
            ParticipantsCount = Model.ParticipantsEmails.Count,
            ParticipantsCountLabelHidden = true
        })
    }
    <div class="icons-container">
        <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
        <i class="fa fa-print" aria-hidden="true"></i>
        <i class="fa fa-link" id="btn-event-page-@Model.Id" aria-hidden="true"></i>
    </div>
</div>