@using Booking.Web.Localization
@using Booking.Web.ViewModels.Event
@model Booking.Web.ViewModels.Event.DisplayEventPopupViewModel

<div id="event-display-popup-@Model.Id" class="event-display-popup">
    <input type="hidden" id="event-page-url" value="@Url.Action("Index", "Event", new {eventId = Model.Id})"/>

    <div class="display-popup-header">
        <div class="event-date" id="qwe">
            <div>@Model.EventDate</div>
            <span>@Model.EventDateTime.ToString("HH:mm") - @Model.EventDateTime.AddMinutes(Model.Duration).ToString("HH:mm")</span>
        </div>
        @if (Model.CanEdit)
        {
            <button class="btn-edit-event">@Localization.Edit</button>
            <button class="btn-cancel-event" id="btn-show-cancel-popup" data-eventId="@Model.Id" onclick="displayCancelEventPopup()" data-toggle="modal" data-target=".example-modal-sm">@Localization.Cancel</button>
        }

        <button class="btn-close-event-popup" id="close-popup-@Model.Id"></button>
    </div>
    <div class="display-popup-body">
        <h4>@Model.Title</h4>
        <div class="form-group">@Model.AdditionalInfo</div>
        <div class="form-group">
            @if (!string.IsNullOrEmpty(Model.AuthorName))
            {
                <i class="fa fa-user" aria-hidden="true"></i>
                <span class="author-name">@Model.AuthorName</span>
            }
            @if (Model.IsJoinAvailable)
            {
                <i class="fa fa-users" aria-hidden="true"></i>
                <span class="participants-count">@Model.ParticipantsEmails.Count</span>
            }
        </div>
        @if (Model.IsJoinAvailable)
        {
            @Html.Partial("_JoinEventPartial", new JoinEventViewModel
            {
                EventId = Model.Id,
                ParticipantsCount = Model.ParticipantsEmails.Count,
                ParticipantsCountLabelHidden = true
            })
        }
        <div class="icons-container">
            <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
            <i class="fa fa-print" aria-hidden="true"></i>
            <i class="fa fa-link" id="btn-event-page-@Model.Id" aria-hidden="true"></i>
        </div>
    </div>

    @*<input type="hidden" id="cancel-event-popup-url" value="@Url.Action("GetCancellationForm", "Event")"/>

    <div class="modal fade example-modal-sm" id="CencelEvent" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div id="cancel-event-popup"></div>
        </div>
    </div>*@

</div>
