@using Booking.Web.Localization
@model Booking.Web.ViewModels.ScheduleTableViewModel

@Html.HiddenFor(m => m.LowerHourBound)
@Html.HiddenFor(m => m.UpperHourBound)

<div class="schedule-mode-buttons-container">
    <i id="schedule-mode-table-only" class="fa fa-align-justify" aria-hidden="true"></i>
    <i id="schedule-mode-with-calendar" class="fa fa-th-list" aria-hidden="true"></i>
</div>

<div id="schedule-table">
    <table id="schedule-rooms-column">
        <tr>
            <th></th>
        </tr>
        @foreach (string name in Model.AvailableAudiences.Names.Values)
        {
            <tr>
                <td>@name</td>
            </tr>
        }
    </table>
    <div id="schedule-viewport-outer">
        <div id="schedule-viewport">
            <div id="slider-now" class="schedule-slider">
                <img class="schedule-slider-top" src="@Url.Content("~/Content/Images/schedule/today-top.png")"/>
                <img class="schedule-slider-bottom" src="@Url.Content("~/Content/Images/schedule/today-bottom.png")"/>
                <div class="slider-caption">@Localization.Now</div>
            </div>

            <div id="slider-draggable" class="schedule-slider">
                <img class="schedule-slider-top" src="@Url.Content("~/Content/Images/schedule/today-active-top.png")"/>
                <img class="schedule-slider-bottom" src="@Url.Content("~/Content/Images/schedule/today-active-bottom.png")"/>
                <div class="slider-caption"></div>
            </div>
            <table id="schedule-contents-table">
                <tr>
                    @for (int hour = Model.LowerHourBound; hour < Model.UpperHourBound; ++hour)
                    {
                        <th>@string.Format("{0}:00", hour.ToString("D2"))</th>
                    }
                </tr>
                @foreach (var key in Model.AvailableAudiences.Names.Keys)
                {
                    <tr>
                        @for (int hour = Model.LowerHourBound; hour < Model.UpperHourBound; ++hour)
                        {
                            <td></td>
                        }
                    </tr>
                }
            </table>
        </div>
    </div>
</div>