@using Booking.Web.Localization
@model Booking.Web.ViewModels.Event.JoinEventViewModel

@using (Html.BeginForm("Participate", "Event", FormMethod.Post, new {id = "join-event-form", role = "form"}))
{
    @Html.AntiForgeryToken()

    <span>@Localization.Join</span>
    <div class="join-event-container">
        @Html.HiddenFor(m => m.EventId)
        @Html.ValidationMessageFor(m => m.Email, "", new {@class = "validation-error"})
        @Html.TextBoxFor(m => m.Email, new {id = "email", placeholder = Localization.EnterEmailToJoin})
    </div>
    <i class="fa fa-plus" aria-hidden="true"></i>
    <input type="submit" value="submit" id="join-event-submit"/>
}