﻿@using Booking.Enums
@using Booking.Web.Localization
@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="@Url.Content("~/Content/Images/favicon.ico")" type="image/x-icon">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/font-awesome/css/font-awesome.min.css")
    @Styles.Render("~/Content/datetime-updown.css")
    @Styles.Render("~/Content/new-event-popup.css")
    @Styles.Render("~/Content/edit-event-popup.css")
    @Styles.Render("~/Content/checkbox-styles.css")
    @RenderSection("styles", false)
</head>
<body>
<div id="page-wrapper">
    <header>
        <div class="page-container">
            <div class="navb">
                <ul id="navb" class="navb">
                    <li>
                        <div class="logo-nav-container">
                            <a href="@Url.Action("Index", "Home")">
                                <img src="@Url.Content("~/Content/Images/logo-red.png")"/>
                            </a>
                        </div>
                    </li>
                   
                    
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="@(ViewBag.ActiveLink == "Profile" ? "active" : "")">
                                <a href="@Url.Action("Index", "Profile",new { userId = User.Identity.GetUserId()})">
                                    <i class="fa fa-user" aria-hidden="true"></i> @User.Identity.Name</a>
                            </li>
                        }
                        else
                        {
                            <li class="@(ViewBag.ActiveLink == "Login" ? "active" : "")">
                                @Html.ActionLink(@Localization.Login, "Login", "Account")
                            </li>
                        }
                           
                    <li class="@(ViewBag.ActiveLink == "Contact" ? "active" : "")">
                        @Html.ActionLink(@Localization.Feedback, "Index", "Contact")
                    </li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="@(ViewBag.ActiveLink == "Users" ? "active" : "")">
                            @Html.ActionLink(@Localization.Users, "UserList", "Manage")
                        </li>
                    }
                    <li class="@(ViewBag.ActiveLink == "Index" ? "active" : "")">
                        @Html.ActionLink(@Localization.Schedule, "Index", "Home")
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>
                            <i id="btn-new-event-popup" class="fa fa-plus-square" aria-hidden="false" data-toggle="modal" data-target=".bd-example-modal-sm"></i>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </header>

    <div id="page-content">
        <input type="hidden" id="booking-hours-bounds-lower" value="@((int) BookingHoursBoundsEnum.Lower)"/>
        <input type="hidden" id="booking-hours-bounds-upper" value="@((int) BookingHoursBoundsEnum.Upper)"/>

        @RenderBody()
    </div>

    <footer>
        <div style="text-align: center;">
            <div class="logo-container">
                <img src="@Url.Content("~/Content/Images/logo.png")"/>
            </div>
            <p> @Localization.All_rights_reserved &copy; @DateTime.Now.Year </p>
        </div>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/Scripts/project/datetime-updown.js")
@Scripts.Render("~/Scripts/project/new-event.js")
@Scripts.Render("~/Scripts/project/cancel-event.js")
@Scripts.Render("~/Scripts/project/edit-event-popup.js")
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
@Scripts.Render("//code.jquery.com/ui/1.12.1/jquery-ui.js")
@RenderSection("scripts", false)

<input type="hidden" id="get-new-event-popup-url" value="@Url.Action("GetNewEventPopup", "Event")"/>

<div class="modal fade bd-example-modal-sm" id="CreateEventModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div id="new-event-popup"></div>
    </div>
</div>

    <input type="hidden" id="cancel-event-popup-url" value="@Url.Action("GetCancellationForm", "Event")" />

<div class="modal fade example-modal-sm" id="CancelEvent" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div id="cancel-event-popup"></div>
    </div>
</div>

</body>
</html>