@using Booking.Web.Localization;
@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="@Url.Content("~/Content/Images/favicon.ico")" type="image/x-icon">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/font-awesome/css/font-awesome.min.css")
    @RenderSection("styles", false)
</head>
<body>
<div id="page-wrapper">
    <header>
        <div class="page-container">
            <div class="navb">
                <ul id="navb" class="navb">
                    <li>
                        <div class="logo-nav-container">
                            <a href="@Url.Action("Index", "Home")">
                                <img src="@Url.Content("~/Content/Images/logo-red.png")"/>
                            </a>
                        </div>
                    </li>
                   
                    
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="@(ViewBag.ActiveLink == "Login" ? "active" : "")">
                                <a href="@Url.Action("Index", "Profile")">
                                    <i class="fa fa-user" aria-hidden="true"></i> @User.Identity.Name</a>
                            </li>
                        }
                        else
                        {
                            <li class="@(ViewBag.ActiveLink == "Login" ? "active" : "")">
                                @Html.ActionLink(@Localization.Login, "Login", "Account")
                            </li>
                        }
                           
                    <li class="@(ViewBag.ActiveLink == "Contact" ? "active" : "")">
                        @Html.ActionLink(@Localization.Feedback, "Index", "Contact")
                    </li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="@(ViewBag.ActiveLink == "Users" ? "active" : "")">
                            @Html.ActionLink(@Localization.Users, "Index", "Users")
                        </li>
                    }
                    <li class="@(ViewBag.ActiveLink == "Index" ? "active" : "")">
                        @Html.ActionLink(@Localization.Schedule, "Index", "Home")
                    </li>
                  
                   
                </ul>
            </div>
        </div>
    </header>

    <div id="page-content">
        @RenderBody()
    </div>

    <footer>
        <div style="text-align: center;">
            <div class="logo-container">
                <img src="@Url.Content("~/Content/Images/logo.png")"/>
            </div>
            <p> @Localization.All_rights_reserved &copy; @DateTime.Now.Year </p>
        </div>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", false)
</body>
</html>