@using Booking.Web.Localization;
@model Booking.Web.ViewModels.Profile.ProfileViewModel



    @using (Ajax.BeginForm("ChangePassword", "Manage", new AjaxOptions
            {
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "Post",
                UpdateTargetId = "passwordReplace"
            }))
            {
        @Html.AntiForgeryToken()
        <H3 style="text-align: center">@Localization.PasswordChange</H3>
                    @Html.ValidationMessageFor(m => m.ChangePasswordForm.OldPassword, "", new { @class = "validation-error" })
                    @Html.PasswordFor(m => m.ChangePasswordForm.OldPassword, new { @class = "profile-input", placeholder = @Localization.PasswordOld, @id = "oldPassword", })

                    @Html.ValidationMessageFor(m => m.ChangePasswordForm.NewPassword, "", new { @class = "validation-error" })
                    @Html.PasswordFor(m => m.ChangePasswordForm.NewPassword, new { @class = "profile-input", placeholder = @Localization.PasswordNew, @id = "newPassword", })

                    @Html.ValidationMessageFor(m => m.ChangePasswordForm.ConfirmPassword, "", new { @class = "validation-error" })
                    @Html.PasswordFor(m => m.ChangePasswordForm.ConfirmPassword, new { @class = "profile-input", placeholder = @Localization.PasswordNewRepeat, @id = "confirmNewPassword", })

                    <input type="submit" value=@Localization.Save class="profile-submit" />

        if (ViewData["PasswordSuccess"] != null)
        {
            <div style="margin: 0px auto; text-align:center">
                <i class="fa fa-check-circle" style="font-size: 30px; text-align: center" aria-hidden="true"></i><span>@Localization.PasswordSuccess</span>
            </div>
        }
        if (ViewData["PasswordFaild"] != null)
        {
            <span>@Localization.PasswordError</span>
        }
    }


