@using Booking.Enums
@using Booking.Web.Localization
@model Booking.Web.ViewModels.Event.DisplayEventViewModel

@{
    string routeImageName = "~/Content/Images/path/";
    string classes = "";
    
    switch (Model.AudienceId)
    {
        case AudiencesEnum.EmptyRoom:
            routeImageName += "path-empty.png";
            break;
        case AudiencesEnum.HrOffice:
            routeImageName += "path-hr.png";
            break;
        case AudiencesEnum.EinsteinClassroom:
            routeImageName += "path-einstein.png";
            break;
        case AudiencesEnum.English:
            classes += "newton-tesla-english-top-fix";
            routeImageName += "path-ienglish.png";
            break;
        case AudiencesEnum.TeslaClassroom:
            routeImageName += "path-tesla.png";
            classes += "newton-tesla-english-top-fix";
            break;
        case AudiencesEnum.NewtonClassroom:
            routeImageName += "path-newton.png";
            classes += "newton-tesla-english-top-fix";
            break;
        case AudiencesEnum.InfoCenter:
            routeImageName += "path-info.png";
            break;
        case AudiencesEnum.WebAndMarketing1:
            routeImageName += "path-web-1.png";
            break;
        case AudiencesEnum.WebAndMarketing2:
            classes += "web-2-top-fix";
            routeImageName += "path-web-2.png";
            break;
        case AudiencesEnum.WebAndMarketing3:
            routeImageName += "path-web-3.png";
            break;
    }
}

<div class="page-container">
    <h2 style="text-align: center; margin-bottom: -60px; margin-top: 40px; z-index: 60">@Localization.Floor 10</h2>
    <div id="room-map-container">
        <img src="@Url.Content("~/Content/Images/walls.png")" style="position: relative; z-index: 50;"/>

        <img id="route-img" class="@classes" src="@Url.Content(routeImageName)"/>

        <div class="room empty-room-pos @(Model.AudienceId == AudiencesEnum.EmptyRoom ? "room-active" : "room-not-available")">
            <div class="room-title">
                <p>@Model.Audiences[AudiencesEnum.EmptyRoom].Name</p>
            </div>
        </div>

        <div class="room hr-office-pos @(Model.AudienceId == AudiencesEnum.HrOffice ? "room-active" : "room-not-available")">
            <div class="room-title">
                <p>@Model.Audiences[AudiencesEnum.HrOffice].Name</p>
            </div>
        </div>

        <div class="room einstein-classroom-pos @(Model.AudienceId == AudiencesEnum.EinsteinClassroom ? "room-active" : "room-not-available")">
            <div class="room-title">
                <p>@Model.Audiences[AudiencesEnum.EinsteinClassroom].Name</p>
            </div>
        </div>

        <div class="room info-center-pos @(Model.AudienceId == AudiencesEnum.InfoCenter ? "room-active" : "room-not-available")">
            <div class="room-title">
                <p>@Model.Audiences[AudiencesEnum.InfoCenter].Name</p>
            </div>
        </div>

        <div class="room web-and-marketing-1-pos @(Model.AudienceId == AudiencesEnum.WebAndMarketing1 ? "room-active" : "room-not-available")">
            <div class="room-title">
                <p>@Model.Audiences[AudiencesEnum.WebAndMarketing1].Name</p>
            </div>
        </div>

        <div class="room web-and-marketing-2-pos @(Model.AudienceId == AudiencesEnum.WebAndMarketing2 ? "room-active" : "room-not-available")">
            <div class="room-title">
                <p>@Model.Audiences[AudiencesEnum.WebAndMarketing2].Name</p>
            </div>
        </div>

        <div class="room web-and-marketing-3-pos @(Model.AudienceId == AudiencesEnum.WebAndMarketing3 ? "room-active" : "room-not-available")">
            <div class="room-title">
                <p>@Model.Audiences[AudiencesEnum.WebAndMarketing3].Name</p>
            </div>
        </div>

        <div class="room english-room-pos @(Model.AudienceId == AudiencesEnum.English ? "room-active" : "room-not-available")">
            <div class="room-title room-title-vertical">
                <p>@Model.Audiences[AudiencesEnum.English].Name</p>
            </div>
        </div>

        <div class="room tesla-classroom-pos @(Model.AudienceId == AudiencesEnum.TeslaClassroom ? "room-active" : "room-not-available")">
            <div class="room-title">
                <p>@Model.Audiences[AudiencesEnum.TeslaClassroom].Name</p>
            </div>
        </div>

        <div class="room newton-classroom-pos @(Model.AudienceId == AudiencesEnum.NewtonClassroom ? "room-active" : "room-not-available")">
            <div class="room-title">
                <p>@Model.Audiences[AudiencesEnum.NewtonClassroom].Name</p>
            </div>
        </div>
    </div>
</div>