@using Booking.Enums
@using Booking.Web.Localization
@model IDictionary<Booking.Enums.AudiencesEnum, Booking.Web.ViewModels.Audience.AudienceMapItemVm>

<div class="page-container">
    <h2 style="text-align: center; margin-bottom: -60px; margin-top: 40px; z-index: 60">@Localization.Floor 10</h2>
    <div id="room-map-container">
        <img src="@Url.Content("~/Content/Images/walls.png")" style="position: relative; z-index: 50;"/>
        
        <div id="audience-@((int) Model[AudiencesEnum.EmptyRoom].Id)"
             data-audience-id="@((int) Model[AudiencesEnum.EmptyRoom].Id)"
             class="room empty-room-pos @(Model[AudiencesEnum.EmptyRoom].IsAvailable ? "room-available" : "room-not-available")">
            <div class="room-title">
                <p>@Model[AudiencesEnum.EmptyRoom].Name</p>
            </div>
        </div>
        @if (Model[AudiencesEnum.EmptyRoom].IsAvailable)
        {
            <div class="room-proxy empty-room-pos" data-room-target="audience-@((int) Model[AudiencesEnum.EmptyRoom].Id)"></div>
        }

        <div id="audience-@((int) Model[AudiencesEnum.HrOffice].Id)"
             data-audience-id="@((int) Model[AudiencesEnum.HrOffice].Id)"
             class="room hr-office-pos @(Model[AudiencesEnum.HrOffice].IsAvailable ? "room-available" : "room-not-available")">
            <div class="room-title">
                <p>@Model[AudiencesEnum.HrOffice].Name</p>
            </div>
        </div>
        @if (Model[AudiencesEnum.HrOffice].IsAvailable)
        {
            <div class="room-proxy hr-office-pos" data-room-target="audience-@((int) Model[AudiencesEnum.HrOffice].Id)"></div>
        }

        <div id="audience-@((int) Model[AudiencesEnum.EinsteinClassroom].Id)"
             data-audience-id="@((int) Model[AudiencesEnum.EinsteinClassroom].Id)"
             class="room einstein-classroom-pos @(Model[AudiencesEnum.EinsteinClassroom].IsAvailable ? "room-available" : "room-not-available")">
            <div class="room-title">
                <p>@Model[AudiencesEnum.EinsteinClassroom].Name</p>
            </div>
        </div>
        @if (Model[AudiencesEnum.EinsteinClassroom].IsAvailable)
        {
            <div class="room-proxy einstein-classroom-pos" data-room-target="audience-@((int) Model[AudiencesEnum.EinsteinClassroom].Id)">
            </div>
        }

        <div id="audience-@((int) Model[AudiencesEnum.InfoCenter].Id)"
             data-audience-id="@((int) Model[AudiencesEnum.InfoCenter].Id)"
             class="room info-center-pos @(Model[AudiencesEnum.InfoCenter].IsAvailable ? "room-available" : "room-not-available")">
            <div class="room-title">
                <p>@Model[AudiencesEnum.InfoCenter].Name</p>
            </div>
        </div>
        @if (Model[AudiencesEnum.InfoCenter].IsAvailable)
        {
            <div class="room-proxy info-center-pos" data-room-target="audience-@((int) Model[AudiencesEnum.InfoCenter].Id)"></div>
        }

        <div id="audience-@((int) Model[AudiencesEnum.WebAndMarketing1].Id)"
             data-audience-id="@((int) Model[AudiencesEnum.WebAndMarketing1].Id)"
             class="room web-and-marketing-1-pos @(Model[AudiencesEnum.WebAndMarketing1].IsAvailable ? "room-available" : "room-not-available")">
            <div class="room-title">
                <p>@Model[AudiencesEnum.WebAndMarketing1].Name</p>
            </div>
        </div>
        @if (Model[AudiencesEnum.WebAndMarketing1].IsAvailable)
        {
            <div class="room-proxy web-and-marketing-1-pos" data-room-target="audience-@((int) Model[AudiencesEnum.WebAndMarketing1].Id)"></div>
        }

        <div id="audience-@((int) Model[AudiencesEnum.WebAndMarketing2].Id)"
             data-audience-id="@((int) Model[AudiencesEnum.WebAndMarketing2].Id)"
             class="room web-and-marketing-2-pos @(Model[AudiencesEnum.WebAndMarketing2].IsAvailable ? "room-available" : "room-not-available")">
            <div class="room-title">
                <p>@Model[AudiencesEnum.WebAndMarketing2].Name</p>
            </div>
        </div>
        @if (Model[AudiencesEnum.WebAndMarketing2].IsAvailable)
        {
            <div class="room-proxy web-and-marketing-2-pos" data-room-target="audience-@((int) Model[AudiencesEnum.WebAndMarketing2].Id)"></div>
        }

        <div id="audience-@((int) Model[AudiencesEnum.WebAndMarketing3].Id)"
             data-audience-id="@((int) Model[AudiencesEnum.WebAndMarketing3].Id)"
             class="room web-and-marketing-3-pos @(Model[AudiencesEnum.WebAndMarketing3].IsAvailable ? "room-available" : "room-not-available")">
            <div class="room-title">
                <p>@Model[AudiencesEnum.WebAndMarketing3].Name</p>
            </div>
        </div>
        @if (Model[AudiencesEnum.WebAndMarketing3].IsAvailable)
        {
            <div class="room-proxy web-and-marketing-3-pos" data-room-target="audience-@((int) Model[AudiencesEnum.WebAndMarketing3].Id)"></div>
        }

        <div id="audience-@((int) Model[AudiencesEnum.English].Id)"
             data-audience-id="@((int) Model[AudiencesEnum.English].Id)"
             class="room english-room-pos @(Model[AudiencesEnum.English].IsAvailable ? "room-available" : "room-not-available")">
            <div class="room-title room-title-vertical">
                <p>@Model[AudiencesEnum.English].Name</p>
            </div>
        </div>
        @if (Model[AudiencesEnum.English].IsAvailable)
        {
            <div class="room-proxy english-room-pos" data-room-target="audience-@((int) Model[AudiencesEnum.English].Id)"></div>
        }

        <div id="audience-@((int) Model[AudiencesEnum.TeslaClassroom].Id)"
             data-audience-id="@((int) Model[AudiencesEnum.TeslaClassroom].Id)"
             class="room tesla-classroom-pos @(Model[AudiencesEnum.TeslaClassroom].IsAvailable ? "room-available" : "room-not-available")">
            <div class="room-title">
                <p>@Model[AudiencesEnum.TeslaClassroom].Name</p>
            </div>
        </div>
        @if (Model[AudiencesEnum.TeslaClassroom].IsAvailable)
        {
            <div class="room-proxy tesla-classroom-pos" data-room-target="audience-@((int) Model[AudiencesEnum.TeslaClassroom].Id)"></div>
        }

        <div id="audience-@((int) Model[AudiencesEnum.NewtonClassroom].Id)"
             data-audience-id="@((int) Model[AudiencesEnum.NewtonClassroom].Id)"
             class="room newton-classroom-pos @(Model[AudiencesEnum.NewtonClassroom].IsAvailable ? "room-available" : "room-not-available")">
            <div class="room-title">
                <p>@Model[AudiencesEnum.NewtonClassroom].Name</p>
            </div>
        </div>
        @if (Model[AudiencesEnum.NewtonClassroom].IsAvailable)
        {
            <div class="room-proxy newton-classroom-pos" data-room-target="audience-@((int) Model[AudiencesEnum.NewtonClassroom].Id)"></div>
        }

    </div>
</div>